[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
uvicorn = "*"
sqlalchemy = "*"
fastapi = {extras = ["all"], version = "*"}
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
